<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AcornHealth</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://unpkg.com/typeit@8.0.2/dist/index.umd.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
<body>
    <header>
        <div class="menu-icon">
            <span class="menu-icon__line menu-icon__line-left"></span>
            <span class="menu-icon__line"></span>
            <span class="menu-icon__line menu-icon__line-right"></span>
        </div>
        <div class="login-icon">
            <span class="menu-icon__line menu-icon__line-left"></span>
            <span class="menu-icon__line"></span>
            <span class="menu-icon__line menu-icon__line-right"></span>
        </div>

        <div class="nav ">
            <div class="nav__content">
                <ul class="nav__list">
                    <li class="nav__list-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AIpage">AI Doctor</a>
                    </li>
                    <li class="nav__list-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Profile">Profile</a>
                    </li>
                    @*<a asp-controller="Home" asp-action="AIpage"></a>
        <li class="nav__list-item">Home</li></a>
        <a href="">
        <li class="nav__list-item">Login</li></a>
        <a href="">
        <li class="nav__list-item">Register</li></a>
        <a href="">
        <li class="nav__list-item">AI Doctor</li></a>*@
                </ul>
            </div>
        </div>

        <div class="site-content">
            <h1 class="site-content__headline animate__animated animate__fadeInUp">ACORN</h1>
            <br>

        </div>



    </header>
    <div class="container">
        <main role="main" class="pb-3 animate__animated animate__fadeInUp animate__delay-1s">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
