@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Login";

}


<form >
   
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Original Gender
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Male</a>
            <a class="dropdown-item" href="#">Female</a>
            
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <h4>Hi, I'm your AI Doctor, how do you feel today?</h4>

        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Type here...">
    </div>
    <button type="button" class="btn btn-outline-secondary">Submit</button>
</form>
