@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ACORN</h1>
    <img src="https://media3.giphy.com/media/eljCVpMrhepUSgZaVP/giphy.gif?cid=ecf05e47whmxgl98l32s24ftn6vmndji89ycvyvduy03ysq6&rid=giphy.gif&ct=g" width="40%" />
    <p >Visiting your doctor on a regular basis is key to a healthy life. Whether you're feeling the effects of the common cold or just coming in for a checkup, we want to make sure you have all... </p>
    <button type="button" class="btn btn-outline-secondary">Learn more..</button>

</div>
